// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Martin Blumenstingl <martin.blumenstingl@googlemail.com>.
 * Based on meson-gxl-s905x.dtsi:
 * - Copyright (c) 2016 Endless Computers, Inc.
 *   Author: Carlo Caione <carlo@endlessm.com>
 */

#include "meson-gxl.dtsi"
#include "meson-gxl-mali.dtsi"

/ {
	compatible = "amlogic,s905w", "amlogic,meson-gxl";
};

/* S905W only has access to its internal PHY */
&ethmac {
	phy-mode = "rmii";
	phy-handle = <&internal_phy>;
};

&mali {
	assigned-clock-rates = <666000000>, /* CLKID_GP0_PLL */
			       <0>, /* Do Nothing for CLKID_MALI_0_SEL */
			       <666000000>, /* CLKID_MALI_0 */
			       <0>; /* Do Nothing for CLKID_MALI */
};
