/*
 * Copyright (c) 2017 Martin Blumenstingl <martin.blumenstingl@googlemail.com>.
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;
#include "meson8m2.dtsi"

/ {
	model = "Akaso M8s";
	compatible = "akaso,m3s", "amlogic,meson8m2";

	aliases {
		serial0 = &uart_AO;
	};

	memory {
		reg = <0x40000000 0x80000000>;
	};
};

&saradc {
	status = "okay";
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};
